<table class="w-full">

  <tr>
    <td class="align-center-table pb-[25px]">
      <x-image
        class="w-[560px] h-[203px]"
        imgUrl="banner.png"
        alt="banner"
        href="#"
      />
    </td>
  </tr>

  <tr>
    <td class="align-center-table text-2xl font-bold text-[#005555] px-[30px]">
      Excepteur sint occaecat cupidatat
    </td>
  </tr>

  <tr>
    <td
      class="align-center-table text-[#444444] text-base/5 pt-[20px] px-[48px]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </td>
  </tr>

  <tr>
    <td class="align-center-table px-[20px] pt-[25px] pb-[45px]">
      <x-button
        width="350"
        height="50"
        leading="28"
        padding="8px 20px"
        rounded="10"
        bgColor="#008080"
        CTA
        class="font-bold cursor-pointer text-[20px] text-[#ffffff]"
        >Ut enim ad minim veniam
      </x-button>
    </td>
  </tr>

</table>
